@charset "utf-8";
/* CSS Document */

.margin{ width:1200px; margin:0 auto;}

#menu{}
#menu .menu-top{}
#menu .menu-top ul{display: flex;justify-content: space-around;align-items: center;height: 152px;}
#menu .menu-top ul li{width: 112px;height: 112px;background: #0f0;}
#menu .menu-top ul li a{display: block;width: 112px;height: 112px;}

#menu .menu-middle{background: #fff;}
#menu .menu-middle ul{display: flex;justify-content: space-around;border: 1px solid #c81622;margin-bottom: 20px;}
#menu .menu-middle ul li{font: 14px/45px "";}
#menu .menu-middle ul li a{display: block;color: #333;}
#menu .menu-middle ul.sort{display: block;}
#menu .menu-middle ul.sort li{float: left;margin: 0 20px;}

#menu .menu-bottom{}
#menu .menu-bottom ul{}
#menu .menu-bottom ul li{float: left;padding: 5px 8px 0;margin: 20px 6px 0 0;width: 276px;height: 360px;border: 1px solid #eee;overflow: hidden;background: #fff}
#menu .menu-bottom ul li a{display: block;}
#menu .menu-bottom ul li a img{width: 276px;height: 276px;}
#menu .menu-bottom ul li a i{display: block; height: 34px;line-height: 34px;width: 276px;font-size: 14px;overflow: hidden;color: #333;}
#menu .menu-bottom ul li a p{font-size: 24px;font-weight: 700;color: #c81623;margin-top: 6px;}
#menu .menu-bottom ul li a p em{}
#menu .menu-bottom ul li a p s{float: right;width: 75px;background: #e20606;color: #fff;border-radius: 4px;box-shadow: 1px 1px 1px rgba(0,0,0,.3);font: 12px/28px "";text-align: center;}