@charset "utf-8";

/* CSS Document */

.margin {
  width: 1200px;
  margin: 0 auto;
}

#menu {
  background: #f7f9f7;
  padding-bottom: 20px;

  .menu-top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 152px;
    background: #f7f9f7;

    li {
      width: 112px;
      height: 112px;

      a {
        display: block;
        width: 112px;
        height: 112px;
      }
    }
  }

  .menu-middle {
    background: #fff;

    ul {
      display: flex;
      justify-content: space-around;
      border: 1px solid #c81622;
      margin-bottom: 20px;

      li {
        font: 14px/45px "";

        a {
          display: block;
          color: #333;
        }
      }

      &.sort {
        display: block;

        li {
          float: left;
          margin: 0 20px;
        }
      }
    }
  }

  .menu-bottom ul li {
    float: left;
    padding: 5px 8px 0;
    margin: 20px 6px 0 0;
    width: 276px;
    height: 360px;
    border: 1px solid #eee;
    overflow: hidden;
    background: #fff;

    a {
      display: block;

      img {
        width: 276px;
        height: 276px;
      }

      i {
        display: block;
        height: 34px;
        line-height: 34px;
        width: 276px;
        font-size: 14px;
        overflow: hidden;
        color: #333;
      }

      p {
        font-size: 24px;
        font-weight: 700;
        color: #c81623;
        margin-top: 6px;

        em {}

        s {
          float: right;
          width: 75px;
          background: #e20606;
          color: #fff;
          border-radius: 4px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          font: 12px/28px "";
          text-align: center;
        }
      }
    }
  }
}